/**
 * Custom Login Stylesheet
 *
 * if you have included the inc/functions/dashboard-functions.php from the
 * functions.php file this stylesheet will be loaded to adjust the WP login screen
 *
 * @package soblossom
 */
/* change the background color of the login screen */
/* line 11, ../scss/custom-login.scss */
body.login {
  background-color: #fff;
  /* replace WordPress logo with your own */
  /* hide the error */
  /* remove box shadow and add a nice border */
}
/* line 15, ../scss/custom-login.scss */
body.login div#login h1 a {
  background-image: url(../images/login.png);
  background-size: 307px 62px;
  height: 62px;
  padding-bottom: 0;
  width: 307px;
}
/* line 24, ../scss/custom-login.scss */
body.login #login_error {
  display: none;
}
/* line 29, ../scss/custom-login.scss */
body.login form {
  border: 1px solid #a7d7f9;
  box-shadow: 0 0;
}
