/*
Syntax error: Invalid CSS after "...ules: $modules ": expected "}", was "!global;"
        on line 13 of /Users/pietbos/Sites/REPOs/soblossom/bower_components/foundation/scss/foundation/_functions.scss
        from line 13 of /Users/pietbos/Sites/REPOs/soblossom/scss/_settings.scss
        from line 18 of /Users/pietbos/Sites/REPOs/soblossom/scss/style.scss

Backtrace:
/Users/pietbos/Sites/REPOs/soblossom/bower_components/foundation/scss/foundation/_functions.scss:13
/Users/pietbos/Sites/REPOs/soblossom/scss/_settings.scss:13
/Users/pietbos/Sites/REPOs/soblossom/scss/style.scss:18
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:1134:in `expected'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:1070:in `expected'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:1065:in `tok!'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:522:in `block'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:175:in `mixin_directive'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:163:in `send'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:163:in `special_directive'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:135:in `directive'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:539:in `block_child'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:532:in `block_contents'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:70:in `stylesheet'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/scss/parser.rb:27:in `parse'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/engine.rb:342:in `_to_tree'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/engine.rb:274:in `to_tree'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:223:in `visit_import'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:225:in `map'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/engine.rb:315:in `_render'
/Users/pietbos/.gem/ruby/1.8/gems/sass-3.2.2/lib/sass/../sass/engine.rb:262:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Library/Ruby/Site/1.8/rubygems/core_ext/kernel_require.rb:45:in `to_proc'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:30
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:44:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:44
/usr/bin/compass:23:in `load'
/usr/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...ules: $modules \": expected \"}\", was \"!global;\"\A         on line 13 of /Users/pietbos/Sites/REPOs/soblossom/bower_components/foundation/scss/foundation/_functions.scss\A         from line 13 of /Users/pietbos/Sites/REPOs/soblossom/scss/_settings.scss\A         from line 18 of /Users/pietbos/Sites/REPOs/soblossom/scss/style.scss"; }
