/******************************************************************

Stylesheet: soblossom_clearing_blockgrid_gallery

Adjust where necessary

******************************************************************/
.soblossom-gallery ul li {
	a img {
	    display: block;
	    margin: 0 auto;
	}
	.gallery-caption {
	    font-size: 0.875rem;
	    font-style: italic;
	}
}
	
