/******************************************************************

Stylesheet: Mediun Stylesheet

Styles apply to 40.063em and up.

******************************************************************/


	
/*********************
NAVIGATION STYLES
*********************/


/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}

	form {
		.search-icon {
			right: 3%;
		}
	}
			
} /* end .entry-content */

/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	padding: 0 10px;
	margin: 2.2em 0;
}

/*********************
FOOTER STYLES
*********************/
	
nav .footer-nav {
    float: right;
}
			
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
