/******************************************************************

Stylesheet: soblossom_social_media_links

link-format-tip via: //justintadlock.com/archives/2013/08/14/social-nav-menus-part-2
colors via: //paulund.co.uk/social-media-colours

Adjust where necessary

******************************************************************/
.social-media {
    margin-top: 4rem;

	.social-links {
	    float: right;
	    list-style: none;
	    margin-bottom: 0;
	    margin-left: 0;
	
	    li {
		    float: left;
			
			a .fa-stack .fa-circle {
			    color: rgba(255, 255, 255, 0.5);
			}
			
			a .fa-inverse {
				color: rgba(136, 136, 136, 0.5);
			}
			
			a:hover .fa-inverse,
			a:focus .fa-inverse {
				color: rgba(255, 255, 255, 0.95);
			}
			
			a[href*="twitter.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #00aced;
				}
			}
			a[href*="facebook.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #3b5998;
				}
			}
			a[href*="plus.google.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #dd4b39;
				}
			}
			a[href*="linkedin.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #007bb6;
				}
			}
			a[href*="youtube.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #bb0000;
				}
			}
			a[href*="instagram.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #517fa4;
				}
			}
			a[href*="pinterest.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #cb2027;
				}
			}
			a[href*="flickr.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #ff0084;
				}
			}
			a[href*="codepen.io"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #76daff;
				}
			}
			a[href*="dribble.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #ea4c89;
				}
			}
			a[href*="weibo.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #e9281e;
				}
			}
			a[href*="github.com"] {
				&:hover .fa-stack .fa-circle,
				&:focus .fa-stack .fa-circle {
					color: #333;
				}
			}
			a[href*="wordpress.org"]:hover .fa-stack .fa-circle,
			a[href*="wordpress.org"]:focus .fa-stack .fa-circle,
			a[href*="wordpress.com"]:hover .fa-stack .fa-circle,
			a[href*="wordpress.com"]:focus .fa-stack .fa-circle {
				color: #21759b;
			}
	    }
	}
}
